<% provide(:title, 'Goods and Services') %>

<div id="bodyContent">

        <h1>Product Catalogue</h1>
       

        <div id="table"><table style= "font-family: bitterregular, 'gill sans', arial, helvetica, sans-serif;color: white;" border="1.5" width="50%" summary="Cleaner Floors Goods and Services">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>House Cleaning</td>
                    <td>&euro;30 per hour</td>
                </tr>
                <tr>
                    <td>Corporate/Buisness Cleaning</td>
                    <td>&euro;50 per hour</td> 
                </tr>
                <tr>
                    <td>Soviet Cleaners Floor Cleaner&trade;</td>
                    <td>&euro;13 per litre</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
</div>    