@font-face {
    font-family: "bitterbold";
    src: url("fonts/fontsbitter-bold-webfont.eot");
    src: url("fonts/bitter-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/bitter-bold-webfont.woff") format("woff"),
         url("fonts/bitter-bold-webfont.ttf") format("truetype"),
         url("fonts/bitter-bold-webfont.svg#bitterbold") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "bitteritalic";
    src: url("fonts/bitter-italic-webfont.eot");
    src: url("fonts/bitter-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/bitter-italic-webfont.woff") format("woff"),
         url("fonts/bitter-italic-webfont.ttf") format("truetype"),
         url("fonts/bitter-italic-webfont.svg#bitteritalic") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "bitterregular";
    src: url("fonts/bitter-regular-webfont.eot");
    src: url("fonts/bitter-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/bitter-regular-webfont.woff") format("woff"),
         url("fonts/bitter-regular-webfont.ttf") format("truetype"),
         url("fonts/bitter-regular-webfont.svg#bitterregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

#header     {position:relative; width: 1000px;height: 100px;top:-100px;}

#welcomeMessage  {font-family: bitterregular, "gill sans", arial, helvetica, sans-serif;
                 font-size: small;
                 color: white;
                 position: absolute;
                 top:-50%;
                 left:50%;
                 margin-right: auto;
                 margin-left: auto;
                 text-align: right;}

body       {background-color:#cc4b33;
            position: relative;
            width:1000px;
            margin-top: 150px;
            margin-left:auto;
            margin-right:auto;
            text-align: center;
            font-family: bitterregular, "gill sans", arial, helvetica, sans-serif;
            color: white;}


strong      {font-family: bitterregular, "gill sans", arial, helvetica, sans-serif;
             color:#ffcc33}

a.nodec     {color: #ffcc33; text-decoration: none; }

a.white     {color:white;}
  
a:hover     { text-decoration: underline } 
 
h1           { text-decoration: underline;
              font-family: bitterbold, "gill sans", arial, helvetica, sans-serif;
              color: white;
              z-index:1;}

h2           {font-family: bitterbold, "gill sans", arial, helvetica, sans-serif;
              color: white;}

h3           {font-family: bitterbold, "gill sans", arial, helvetica, sans-serif;
              color: white;}
                
th           {font-family: bitterbold;
               color: white;}

td            {font-family: bitterregular;
                color:white;}  

h2.goods      {position: relative;
                top:-100px;}
                
                            
#feeds        {position: absolute;
               left:100%;
                margin-left: auto;
                margin-right: auto;}
                
   
#logo          {position: absolute;
                top: -50%;
                left:0%;
                z-index: 0}


#content       {position: absolute;
                top:0;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
                z-index:3}
                
#bodyContent   {position: absolute;
                top:0px;
                width: 100%;
                text-align: center;
                }    


#mpu        {float: right;}

#feature       {float: right;}

#silverlightControlHost {
                        position: relative;
                        left: 10%;
                        right: 25%;
                        top:-30px;
                        height: 350px;
                        width: 100%;
                        z-index: 5;

                        }

#goods      {position: relative;
                
                top: -150px;
                }


#table       {position: relative;
                left:250px;
                right:250px;
                }

#form      {position: relative;
            top: -100px;
            text-align: center;
            z-index:3}
            
#contact    {position:absolute;
            text-align: left;
            right:40%;

            width: 550px;
            }
            
#address    {position:absolute;
            text-align: left;
            left:70%;
            }
                
.errorMessage  {position: relative;
                color: #ffcc33;
                font-size: small;
                }
                
#queryError  {position: absolute;

                }            



#menu       {font-family: bitterbold;
            color: white;
            border: 2px solid #ffcc33;
            text-align: center;
            width: 10em;
            background-color: #833322;
            position: absolute;
            bottom: 0%;
            right: 5%;
            }
                
#menu:hover a  {display: block;}

#menu a        {display: none;
                border-top: 2px solid white; 
                background-color: #cc4b33; 
                width: 10em; 
                text-decoration: none; 
                color: white }
                
#menu a:hover  {background-color: #fef485 }
 
#newproducts    {font:inherit;
                 color: white;} 
 
  #stock     {color:#ffcc33;
             font-size: large;}    
 
 #error_explanation {
  color: #ffcc33;
  list-style: none; margin: 0 0 18px 0;
position: absolute;;
left:200px;
text-align: left;}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#left {
    float: left;
    padding: 10px 2% 10px 2%;
    margin: 20px 1% 20px 2%;
    width: 44%; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 41%;
    }

#right {
    float: right;
    padding: 10px 2% 10px 2%;
    margin: 20px 2% 20px 1%;
    width: 44%; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 41%;
    color: #ffcc33;
  list-style: none; margin: 0 0 18px 0;
text-align: left;}


.RegisterButton {
    background-color:#ffcc33;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0px;
    border:1px solid #ffb433;
    display:inline-block;
    color:#ffffff;
    font-family: bitterbold;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:25px;
    width:163px;
    text-decoration:none;
    text-align:center;
}.RegisterButton:hover {
    background-color:#ffcc20;
}.RegisterButton:active {
    position:relative;
    top:1px;
}</style>




 