
#header     {position:relative; width: 1000px;height: 100px;top:-100px;}

#welcomeMessage  {font-family: bitterregular, "gill sans", arial, helvetica, sans-serif;
                 font-size: small;
                 color: white;
                 position: absolute;
                 top:-50%;
                 left:50%;
                 margin-right: auto;
                 margin-left: auto;
                 text-align: right;}

body       {background-color:#cc4b33;
            position: relative;
            width:1000px;
            margin-top: 150px;
            margin-left:auto;
            margin-right:auto;
            text-align: center;
            font-family: bitterregular, "gill sans", arial, helvetica, sans-serif;
            color: white;}


strong      {font-family: bitterregular, "gill sans", arial, helvetica, sans-serif;
             color:#ffcc33}

a.nodec     {color: #ffcc33; text-decoration: none; }

a.white     {color:white;}
  
a:hover     { text-decoration: underline } 
 
h1           { text-decoration: underline;
              font-family: bitterbold, "gill sans", arial, helvetica, sans-serif;
              color: white;
              z-index:1;}

h2           {font-family: bitterbold, "gill sans", arial, helvetica, sans-serif;
              color: white;}

h3           {font-family: bitterbold, "gill sans", arial, helvetica, sans-serif;
              color: white; text-align: left;   }
                
th           {font-family: bitterbold;
               color: white;}

td            {font-family: bitterregular;
                color:white;}  

h2.goods      {position: relative;
                top:-100px;}
                
                            
#feeds        {position: absolute;
               left:100%;
                margin-left: auto;
                margin-right: auto;}
                
   
#logo          {position: absolute;
                top: -50%;
                left:0%;
                z-index: 0}


#content       {position: absolute;
                top:0;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
                z-index:3}
                
#bodyContent   {position: absolute;
                top:0px;
                width: 100%;
                text-align: center;
                }    


#mpu        {float: right;}

#feature       {float: right;}

#silverlightControlHost {
                        position: relative;
                        left: 10%;
                        right: 25%;
                        top:-30px;
                        height: 350px;
                        width: 100%;
                        z-index: 5;

                        }

#goods      {position: relative;
                
                top: -150px;
                }


#table       {position: relative;
                left:250px;
                right:250px;
                }

#form      {position: relative;
            top: -100px;
            text-align: center;
            z-index:3}
            
#contact    {position:absolute;
            text-align: left;
            right:40%;

            width: 550px;
            }
            
#address    {position:absolute;
            text-align: left;
            left:70%;
            }
                
.errorMessage  {position: relative;
                color: #ffcc33;
                font-size: small;
                }
                
#queryError  {position: absolute;

                }            



#menu       {font-family: bitterbold;
            color: white;
            border: 2px solid #ffcc33;
            text-align: center;
            width: 10em;
            background-color: #833322;
            position: absolute;
            bottom: 0%;
            right: 5%;
            }
                
#menu:hover a  {display: block;}

#menu a        {display: none;
                border-top: 2px solid white; 
                background-color: #cc4b33; 
                width: 10em; 
                text-decoration: none; 
                color: white }
                
#menu a:hover  {background-color: #fef485 }
 
#newproducts    {font:inherit;
                 color: white;} 
 
  #stock     {color:#ffcc33;
             font-size: large;}    
 
 #error_explanation {
  color: #ffcc33;
  list-style: none; margin: 0 0 18px 0;
position: absolute;;
left:200px;
text-align: left;}

#left {
    float: left;
    padding: 10px 2% 10px 2%;
    margin: 20px 1% 20px 2%;
    width: 44%; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 41%;
    text-align: left;

    }

#right {
    float: right;
    padding: 10px 2% 10px 2%;
    margin: 20px 2% 20px 1%;
    width: 44%; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 41%;
    color: #ffcc33;
  list-style: none; margin: 0 0 18px 0;
text-align: left;}


.RegisterButton {
    background-color:#ffcc33;
    border:1px solid #ffb433;
    display:inline-block;
    color:#ffffff;
    font-family: bitterbold;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:25px;
    width:163px;
    text-decoration:none;
    text-align:center;
}.RegisterButton:hover {
    background-color:#ffcc20;
}.RegisterButton:active {
    position:relative;
    top:1px;
}


input
{
color: #781351;
background: #fee3ad;
border: 1px solid #781351
}

.submit input
{
color: #000;
background: #ffa20f;
border: 2px outset #d7b9c9
}


#login
{position: relative;
    padding: 10px 2% 10px 2%;
    margin: 20px 1% 20px 2%;
    width: 44%; 
text-align: left;}

 #register
{position: relative;
 top: 30px;   
text-align: center;}