<% provide(:title, 'Kitchen Spray') %>

<div id="content">

<p><% if current_user %>
	<h2>Soviet Cleaners Kitchen Spray</h2>
	<div id="feature"><img img border="0" src="assets/spray.png" alt="Soviet Cleaners Kitchen Spray"/></div> 
  
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit. in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  	
  	<p class="yellow">
	<% if @stock == 0 %>
	Sorry we are out of stock.
	<% else %>
	In stock! We have <%= @stock %> units left!
	<% end %>
	</p>

  <% else %>
   Please <%= link_to "login", login_path, :class => "nodec"%> or <%= link_to "register", signup_path, :class => "nodec"%> to view our Product Catalogue.
  <% end %>

<p/>
</div>
